# Compiled output
/node_modules
/dist

# IDE
.vscode

# Environment variables / configurations
.env

# Logs
/logs
.log

# RPC generated output
**/pb
*.pb*

.husky

# Misc
*~
.DS_Store
/.http
6
.eslintcache